doctype 5
html
    head
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
        title #{title}
    body
        div.error
            img.blocked(src='/images/error.png')
            div.error-message
                | 404 Error: Page not found.
            div
                | You probably did something wrong.


