doctype 5
html
    head
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    body
        div.error
            img.blocked(src='/images/error.png')
            div.error-message
                | 500 Error:
            div
                | Something has gone horribly wrong.
            div
                | We should probably fix it.


