extends layout
// Derr this is not serious at all.
block content
  h2
    | Our Team:
  table
    tr
      td(class='picture')
      td(class='blurb')
        h3
          | Madison May
        p
          | Raised on a steady diet of pebbles and harebrained ideas, Madison always makes everything better, I guess.
    tr
      td(class='picture')
      td(class='blurb')
        h3
          | Tom Chen
        p
          | A robot from the year 3000, he somehow convinced the admissions department that he was a human during Candidates' Weekend.
    tr
      td(class='picture')
      td(class='blurb')
        h3
          | Derek Redfern
        p
          | In the far off land of Canada, Derek Redfern is king.