div.meta-wrapper

    div.wrapper
        div.chart_body
        div.description
            | Social Listening

    div.wrapper_right
        div.user_chart_body
        div.description_right

   include friend_partial

script

    var friend_list = !{friends};

div.name
script(src="/javascripts/landing_page.js")
