doctype 5
html
  head
    title= title
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js")
    link(href='http://fonts.googleapis.com/css?family=Unica+One', rel='stylesheet', type='text/css')
    link(rel='icon', type='image/png', href='images/favicon.ico')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/swfobject.js')
    block scripts
  body
    div(id='logodiv')
      a(href='/')
        img(id='logo', src='images/coplay_logo.png', width='147', height='84', alt='Coplay: Collaborative music at its finest.')
    div.ph-line-nav.nav
      a(href="/") Home
      a(href="/about") About
      a(href="/settings") Settings
      a(href="/login") Login
      div.effect
    block content
