!!! 5
html
  head
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(href='http://fonts.googleapis.com/css?family=Unica+One', rel='stylesheet', type='text/css')
    style(type='text/css' src='stylesheets/locate.css')


    // script(src="javascripts/geoplugin.gp", type="text/javascript")
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js")
    script(type='text/javascript', src='http://code.jquery.com/jquery.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCv3GjNM-TpvB0e5B5Uf_yTJFD4UyVRC7o&sensor=false')
    script(src="/javascripts/infobox.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js")
    script(type='text/javascript',src='javascripts/locate.js')
    

  body
    div#map-wrapper
      div#map-canvas
    div#station-wrapper
      div.hero-unit#station-info
        div#search-title
          | Local Stations
        hr.smaller
        div#button-wrapper
          input#station-title(type='text', placeholder='Station name...')
          br
          input#station-seed(type='text', placeholder='Station seed (artist or song name)...')
          br
          button.btn.btn-success#add-station Broadcast

        - function square(x) {return x*x;}
        - var new_stations = stations
        - new_stations.sort(function(a, b) {
        -   return - square(a.location[0] - db_user[0].location[0]) - square(a.location[1] - db_user[0].location[1]) + square(b.location[0] - db_user[0].location[0]) + square(b.location[1] - db_user[0].location[1])
        - })

        each station in new_stations
          hr.smaller
          div.station
            | <b class='station-name'> #{station.name} </b>
            div.hide-this.station-info(name='#{station.name}')
              hr.even_smaller
              each user in station.users
                | #{user.username}
