//Home Page

extends layout

block content

    div.ph-line-nav.nav
        a(href="/") Home
        a(href="/about") About
        a(href="/settings") Settings
        a(href="/login") Login
        div.effect

    div.meta-wrapper

        div.wrapper
            div.chart_body
            div.description
                | Social Listening

        div.wrapper_right
            div.user_chart_body
            div.description_right

    div.title

    script(src="/javascripts/landing_page.js")

