//Home Page

extends layout

block content

    div.ph-line-nav.nav
        a(href="/") Home
        a(href="/about") About
        a(href="/settings") Settings
        a(href="/login") Login
        div.effect

    div.wrapper
        div.chart_body
        div.description
            | Social Listening

    div.wrapper_right
        div.user_chart_body
        div.description
        div.user_chart_body2
        div.description2
        div.user_chart_body3
        div.description3

    script(src="/javascripts/landing_page.js")

