//Home Page

extends layout

block content

    div.meta-wrapper

        div.wrapper
            div.chart_body
            div.description
                | Social Listening

        div.wrapper_right
            div.user_chart_body
            div.description_right

        div.friends
            div.friend_title
                | - Add Friends -
            div.friend_list
                each friend in friends
                    p
                        a(href="#", username="#{friend}", class="friend") #{friend}


    div.name

    script(src="/javascripts/landing_page.js")

