//Home Page

extends layout

block content

    div.ph-line-nav.nav
        a(href="#") Home
        a(href="#") About
        a(href="#") Settings
        a(href="#") Login
        div.effect

    div.chart_body

    script(src="/javascripts/landing_page.js")

