//Home Page

extends layout

block content

    if logged_in
        div.welcome
            | Welcome, #{user.first_name}!

    div.meta-wrapper

        div.wrapper
            div.chart_body
            div.description
                | Social Listening

        div.wrapper_right
            div.user_chart_body
            div.description_right

    div.name

    script(src="/javascripts/landing_page.js")

