//Home Page

extends layout

block content

    div.ph-line-nav.nav
        a(href="/") Home
        a(href="/about") About
        a(href="/settings") Settings
        a(href="/login") Login
        div.effect

    div.wrapper
        div.chart_body
        div.description
            | Social Listening

    script(src="/javascripts/landing_page.js")

