extends layout
block scripts
  style(type='text/css')
    a:hover{
      cursor: hand;
      cursor: pointer;
    }
  script(type='text/javascript')
    var ready = 0;
    $(document).ready(function() {
      if (ready == 0) {
        ready = 1;
        $('#search').click(function (){
          var query = $("#searchbox").val();
          $.post('/autocomplete', {query: query}, function (data) {
              console.log(data);
              var table = document.getElementById("results");
              for(var i = table.rows.length; i > 0;i--){
                table.deleteRow(i -1);
              }
              for (var i=0;i<data.length;i++) {
                if(data[i].type == "artist") {
                  var trow = document.createElement("tr");
                  var tdata = document.createElement("td");
                  var tlink = document.createElement("a");
                  tlink.className = "musiclink"
                  var ttext = document.createTextNode(data[i].artist);
                  tlink.appendChild(ttext);
                  tlink.setAttribute("artist",data[i].artist);
                  tlink.setAttribute("type","artist");
                  tdata.appendChild(tlink);
                  trow.appendChild(tdata);
                  table.appendChild(trow);
                }
                if(data[i].type == "track") {
                  var trow = document.createElement("tr");
                  var tdata = document.createElement("td");
                  var tlink = document.createElement("a");
                  tlink.className = "musiclink"
                  var ttext = document.createTextNode(data[i].name + " - " + data[i].artist);
                  tlink.appendChild(ttext);
                  tlink.setAttribute("artist",data[i].artist);
                  tlink.setAttribute("track",data[i].name);
                  tlink.setAttribute("type","track");
                  tdata.appendChild(tlink);
                  trow.appendChild(tdata);
                  table.appendChild(trow);
                }
              }
           });
        });
        $(document).on('click','.musiclink',function () {
          var artist = $(this).attr("artist");
          if ($(this).attr("type") == "track") {
            var track = $(this).attr("track")
            console.log(track + " - " + artist);
          }
          else if ($(this).attr("type") == "artist") {
            console.log(artist);
          }
        });
      }
    })
block content
  a.btn(href='#search', role='button', data-toggle='modal') Add Music
  div#search.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='searchLabel', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') x
      h3#searchLabel Search for Artists and Tracks
    div.modal-body
      input#searchbox(type='text')
      button#search(class='btn.btn-success',type='submit') Search
      table#results
