link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
style(type='text/css')
  a:hover{
    cursor: hand;
    cursor: pointer;
    text-decoration: none;
  }

script(type='text/javascript')
  var ready = 0;
  $(document).ready(function() {

    if (ready == 0) {
      ready = 1;
      $('#search').click(function (){
        var query = $("#searchbox").val();
        $.post('/autocomplete', {query: query}, function (data) {
            console.log(data);
            var table = document.getElementById("results");
            for(var i = table.rows.length; i > 0;i--){
              table.deleteRow(i -1);
            }
            for (var i=0;i<data.length;i++) {
              if(data[i].type == "artist") {
                var trow = document.createElement("tr");
                var tdata = document.createElement("td");
                var tlink = document.createElement("a");
                tlink.className = "musiclink"
                var ttext = document.createTextNode(data[i].artist);
                tlink.appendChild(ttext);
                tlink.setAttribute("artist",data[i].artist);
                tlink.setAttribute("type","artist");
                tdata.appendChild(tlink);
                trow.appendChild(tdata);
                table.appendChild(trow);
              }
              if(data[i].type == "track") {
                var trow = document.createElement("tr");
                var tdata = document.createElement("td");
                var tlink = document.createElement("a");
                tlink.className = "musiclink"
                var ttext = document.createTextNode(data[i].name + " - " + data[i].artist);
                tlink.appendChild(ttext);
                tlink.setAttribute("artist",data[i].artist);
                tlink.setAttribute("track",data[i].name);
                tlink.setAttribute("type","track");
                tdata.appendChild(tlink);
                trow.appendChild(tdata);
                table.appendChild(trow);
              }
            }
         });
      });

      $(document).on('click','.musiclink',function () {
        $('.close').trigger('click');
        var artist = $(this).attr("artist");
        if ($(this).attr("type") == "track") {
          var track = $(this).attr("track")
          $.post(window.location.pathname + '/addTrack', {'track': track, 'artist': artist}, function(data) {
            console.log(track + " - " + artist);
            console.log(data)
          })
        }
        else if ($(this).attr("type") == "artist") {
          $.post(window.location.pathname + '/addArtist', {'artist': artist}, function(data) {
            console.log(artist);
            console.log(data);
          })
        }
      });

      $(document).keypress(function(e){
        if (e.which == 13){
          $("#search-btn").click();
        }
      });

    }
  })

div.button-wrapper.center-text
  a.btn.btn-info.add-music#station-add(href='#search', role='button', data-toggle='modal') Add Music
div#search.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='searchLabel', aria-hidden='true')
  div.modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') x
    h3#searchLabel Search for Artists and Tracks
  div.modal-body
    input#searchbox.span4(type='text')
    button.btn.btn-info#search-btn(class='btn.btn-info',type='submit') Search
    table#results
