extends layout
block scripts
  style(type='text/css')
    a:hover{
      cursor: hand;
      cursor: pointer;
    }
  script(type='text/javascript')
    $(document).ready(function() {
      $('#search').click(function (){
        var query = $("#searchbox").val();
        $.post('/autocomplete', {query: query}, function (data) {
            console.log(data);
            var table = document.getElementById("results");
            for(var i = table.rows.length; i > 0;i--){
              table.deleteRow(i -1);
            }
            for (var i=0;i<data.length;i++) {
              if(data[i].type == "artist") {
                var thing1 = document.createElement("tr");
                var thing2 = document.createElement("td");
                var thing3 = document.createElement("a");
                thing3.className = "thing5"
                var thing4 = document.createTextNode(data[i].artist);
                thing3.appendChild(thing4);
                thing2.appendChild(thing3);
                thing1.appendChild(thing2);
                table.appendChild(thing1);
              }
              if(data[i].type == "song") {
                var thing1 = document.createElement("tr");
                var thing2 = document.createElement("td");
                var thing3 = document.createElement("a");
                thing3.className = "thing5"
                var thing4 = document.createTextNode(data[i].title + " - " + data[i].artist);
                thing3.appendChild(thing4);
                thing2.appendChild(thing3);
                thing1.appendChild(thing2);
                table.appendChild(thing1);              
              }
            }
         });
      });
    })
block content
  a.btn(href='#search', role='button', data-toggle='modal') Add Music
  div#search.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='searchLabel', aria-hidden='true')
    div.modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') x
      h3#searchLabel Search for Artists and Tracks
    div.modal-body
      input#searchbox(type='text')
      button#search(class='btn.btn-success',type='submit') Search
      table#results
    div.modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Close
      button.btn.btn-primary Save changes