extends layout

block scripts
  link(href="/stylesheets/play.css", rel="stylesheet")

block content

  div#player
    script(src="/javascripts/playerEmbed.js")

  script(src='/javascripts/playerControl.js')

  div.text-center#text
    h1 Now Playing
    p#songName [loading]
    p#artistName [loading]
    div
      div.text-center.inline.half
        img#playpause(src='images/play.png')
      div.text-center.inline.half
        img#next(src='images/next.png')