div.text-center#text.push-down
  p#songName(style='display: inline-block') [loading]
  div#album-art
  div
    div.text-center.inline.quarter
      img.adjust-margin#vote.upvote(src='/images/up.png')
    div.text-center.inline.quarter
      img#vote.downvote(src='/images/down.png')

