extends layout

block scripts
  link(href="/stylesheets/play.css", rel="stylesheet")

block content

  div#player
    script(src="/javascripts/playerEmbed.js")

  script(src='/javascripts/playerControl.js')

  div.text-center#text
    p#songName(style='display: inline-block') [loading]
    div#album-art
    div
      div.text-center.inline.quarter
        img#playpause(src='images/play.png')
      div.text-center.inline.quarter
        img.adjust-margin#vote(src='images/up.png')
      div.text-center.inline.quarter
        img#vote(src='images/down.png')
      div.text-center.inline.quarter
        img#next(src='images/next.png')

