
div#player
    script(src="/javascripts/playerEmbed.js")

script(src='/javascripts/playerControl.js')

div.text-center#text.push-down
  p#songName(style='display: inline-block')
  br
  p#artistName(style='display: inline-block') Loading...
  div#album-art
  div
    div.text-center.inline.quarter
      img#playpause(src='/images/play.png')
    div.text-center.inline.quarter
      img.adjust-margin#vote.upvote(src='/images/up.png')
    div.text-center.inline.quarter
      img#vote.downvote(src='/images/down.png')
    div.text-center.inline.quarter
      img#next(src='/images/next.png')

script(src="/javascripts/hostSockets.js")