extends layout

block jquery_ui
  script(type='text/javasacript', src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(type='text/javasacript', src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js")

block scripts
  link(rel='stylesheet', type='text/css', href='stylesheets/settings.css')
  script(type='text/javascript')
    $(document).ready(function() {
      // for adding artists to the mix

      $('#Save').click(function (){
        var Artist_data = [];
        $('.Remove').each(function() {
          Artist_data.push({'name': $(this).attr("artist"), 'weight': $(this).parent().next('.slider').slider('value')});
        });

        console.log(Artist_data);
        //When you figure out the routes add the proper stuff here
        $.post('/editArtist', {artists: Artist_data}, function (data) {
               console.log("Jquery post")
               $('#settingsBox').prepend(data);
               $("#newArtist").val("");
           });
      });
      //for removing artists
      $('.Remove').click(function (){
        console.log('Remove button clicked...');
        //nonfunctional again remember to add in proper attribute
        var artist = $(this).attr("artist");
        console.log(artist)
        // and also here
        $(this).parent().parent().remove();
        $.post('/removeArtist', { artist: artist }, function(err, data){
          if (err) {
            console.log(err);
          }
        });
        //- document.location.href='/settings';
      });

      // for saving preferences
      $('#Add').click(function (){
        console.log("Add artist button has been clicked");
        console.log("New Artist: " + $("#newArtist").val());
        var newArtist = $("#newArtist").val();
        //When you figure out the routes add the proper stuff here
        $.post('/addArtist', {artist: newArtist}
           , function (data) {
               $('#artists').prepend("");
               $("#newArtist").val("");
           });
        setTimeout(function() {
          location.reload(true);
        }, 500);
      });
    })



block content

  div(id='addBox')
    h3(id='line1') Add an Artist:
    textarea(rows="1", cols="20", id="newArtist", style="margin-top:-80px")
    input(type="button", class="btn btn-success addArtist", id="Add", value="Submit", style="margin-top:-60px")

  div(id='settingsBox')
    h3 Artists in your Mix
    div.artists
      each artist in artists
        div.artist
          p.artist_name
            //When you actually pass in data make sure to change this to reflect the proper attribute
            input(type="button", class="Remove btn btn-danger", value="-", artist="#{artist.name}")
            | #{artist.name}
          div(class="slider", style="margin-left:0px;", weight="#{artist.weight}")

    input(type="button", class="btn btn-success save", id="Save", value="Save Mix")

  script
    $('div.slider').each(function() {
      var weight = $(this).attr("weight");
      console.log(weight);
      $(this).slider({
        value: weight,
        start: function(event,ui) {
            var value = $(this).slider('value');
            console.log(value);
          },
        slide: function(event, ui) {},
        stop: function(event, ui) {},
      });
    });
