//Home Page

extends layout

block scripts
    link(href="/stylesheets/play.css", rel="stylesheet")
    script(src="/socket.io/socket.io.js")

block d3
    script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")

block content

    div.meta-wrapper

        div.wrapper
            div.chart_body
            div.description Listening to:
              br
              div.stationName #{station}

        div.wrapper.pull-left
            if host == true
                include play_partial
            else
                include play_partial_user
            div.center-text#move-right
                include newsearch

        div.wrapper_right
            div.list_users

    script

        var user_list = !{friends};
        var user_id = '#{fb_id}'
        var users = user_list.users
        for (var i=0; i<users.length; i++) {
            if (users[i].fb_id != user_id) {
                if (users[i].fb_id) {
                    $('.list_users').append("<a href='/friend/" + users[i].fb_id + "'>" +
                        "<img src='https://graph.facebook.com/" +
                        users[i].fb_id + "/picture?width=300&height=300' class='fix-width station-fix-width'>" +
                        "<div style='margin-bottom:15px;'>" + users[i].name + "</div></a>")
                }
            }
        }

    div.name
    include d3_wheel

    div#stationID(stationID=stationID)
