//Home Page

extends layout

block scripts
    link(href="/stylesheets/play.css", rel="stylesheet")

block d3
    script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script
        $(document).ready(function() {

            if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                $.post('/getLocation', {'latitude': position.coords.latitude, 'longitude': position.coords.longitude})
              })
            }

            var new_friends = [];
            $('.friend').click(function() {
                $(this).remove();
                new_friends.push($(this).attr("username"));
                console.log(new_friends);
                console.log("Removed");
            });

            $('.saveMix').click( function() {
                $.post('/mixUpdate', {new_friends: new_friends}, function(err, data){
                    if (err) {
                        console.log(err);
                    }
                })
                //temporary solution
                setTimeout(function() {
                  location.reload(true);
                }, 500);
            })

            $('.playMix').click( function() {
                window.location = '/play';
            })
        });

block content

    div.meta-wrapper

        div.wrapper
            div.chart_body
            div.description
                | Social Music

        div.wrapper.pull-left
            //- if host == true
            include play_partial
            //- else
            //- include play_partial_user
            div.center-text#move-right
                include newsearch

        div.wrapper_right
            div.list_users

    script

        var user_list = !{friends};
        var user_id = '#{fb_id}'
        var users = user_list.users
        for (var i=0; i<users.length; i++) {
            if (users[i].fb_id != user_id) {
                $('.list_users').append("<img src='https://graph.facebook.com/" +
                    users[i].fb_id + "/picture?width=300&height=300' class='fix-width station-fix-width'>")
                $('.list_users').append("<a href='/friend/" + users[i].fb_id + "'><div style='margin-bottom:15px;'>"
                                        + users[i].name + "</div></a>")
            }
        }

    div.name
    script(src="/javascripts/station.js")
