//Home Page

extends layout

block d3
    script(type='text/javascript', src="http://d3js.org/d3.v3.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script
        $(document).ready(function() {

            if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                $.post('/getLocation', {'latitude': position.coords.latitude, 'longitude': position.coords.longitude})
              })
            }

            var new_friends = [];
            $('.friend').click(function() {
                $(this).remove();
                new_friends.push($(this).attr("username"));
                console.log(new_friends);
                console.log("Removed");
            });

            $('.saveMix').click( function() {
                $.post('/mixUpdate', {new_friends: new_friends}, function(err, data){
                    if (err) {
                        console.log(err);
                    }
                })
                //temporary solution
                setTimeout(function() {
                  location.reload(true);
                }, 500);
            })

            $('.playMix').click( function() {
                window.location = '/play';
            })
        });

block content

    div.meta-wrapper

        div.wrapper
            div.chart_body
            div.description
                | Social Listening
            input(type="button", class="btn btn-success playMix", id="Add", value="♬")

        div.wrapper_right
            div.user_chart_body
            div.description_right

    script

        var user_list = !{friends};

    div.name
    script(src="/javascripts/station.js")
