html { height: 100% }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  }

a:hover {
  text-decoration: None;
}

.mright {
  margin-right: 15px;
  margin-top: 2px;
}

.mleft {
  margin-left: 15px;
  margin-top: 2px;
}

#map-canvas {
  height: 100%;
  width: 100%
}

#map-wrapper {
  width: 70%;
  height: 100%;
  display: inline-block;
  float: left;
}

#station-wrapper {
  float: right;
  width: 30%;
  height: 100%;
  padding: 0px;
  display: inline-block;
}

#station-info {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  overflow-y: scroll;
}

#search-title {
  padding-top: 15px;
  text-align: center;
  font-size: 40px;
}

.smaller {
  margin-right: 20px;
  margin-left: 20px;
}

#button-wrapper {
  text-align: center;
  margin-top: 10px;
}

#station-title{
  width: 50%;
}

#station-seed{
  width: 50%;
}

#add-station {
  margin-left: 10px;
  margin-top: 0px;
}

.station {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.hide-this{
  height: 0px;
  overflow: hidden;
}

.station-name {
  margin-left: -40px;
}

.pull-name-right {
  margin-right: -40px;
}

.even_smaller {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5px;
  margin-bottom: 5px;
}
