#text {
  width: 350px;
  margin-left: 10%;
  margin-right: auto;
}
#vote {
  cursor: pointer;
  width: 45px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.adjust-margin {
 /* margin-right: -10px;
*/}

#next {
  cursor: pointer;
  width: 45px;
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}

#playpause {
  cursor: pointer;
  width: 45px;
  margin-right: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.album-art {
  width: 300px;
  height: 300px;
}

.push-down {
  margin-top: 30px;
}
