#logodiv {
  position: absolute;
  left:2px;
  top:2px;
  z-index: 2;
}

a {
  color: #000000;
}

/* ---- reset ------*/
html, body, div, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }


/* --- basic styles ----*/

body {
  background-image: url('../images/satinweave.png');
  text-shadow: 0 1px 0 white;
  font-size: 24px;
  font-family:  Helvetica, Calibri, Arial, sans-serif, sans;
}

/* --- for all three examples ----*/

.nav {
  font-family: "Unica One";
  font-size: 24px;
  text-align: center;
  overflow: hidden;
  margin: 2em auto;
  margin-top: 7px;
  width: 480px;
  position: relative; }
  .nav a {
    display: block;
    position: relative;
        float: left;
        padding: 1em 0 2em;
    width: 25%;
        text-decoration: none;
      color: #393939;
      -webkit-transition: .7s;
      -moz-transition: .7s;
      -o-transition: .7s;
      -ms-transition: .7s;
      transition: .7s; }
      .nav a:hover {
        color: #c6342e; }

.effect {
    position: absolute;
  left: -12.5%;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  -ms-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out; }

    .nav a:nth-child(1):hover ~ .effect {
      left: 12.5%; }
    .nav a:nth-child(2):hover ~ .effect {
      left: 37.5%; }
    .nav a:nth-child(3):hover ~ .effect {
      left: 62.5%; }
    .nav a:nth-child(4):hover ~ .effect {
      left: 87.5%; }

/* ----- line example -----*/

.ph-line-nav .effect {
  width: 90px;
  height: 2px;
  bottom: 36px;
  background: #c6342e;
  box-shadow: 0 1px 0 white;
  margin-left:-45px;
}

.meta-wrapper {
  /*border: 2px black solid;*/
  min-width: 1600px;
  min-height: 600px;
}

.wrapper {
  float: left;
  margin-top: 50px;
  margin-left: -25px;
}

.description {
  text-align: center;
  position: relative;
  margin-top: -265px;
  font-size: 30px;
  margin-left: 270px;
  width: 258px;
}

.playMix {
  text-align: center;
  position: relative;
  margin-top: 5px;
  font-size: 30px;
  margin-left: 372px;
  width: 258px;
}

.wrapper_right {
  text-align: center;
  /*border: solid 2px black;*/
  margin-left: 300px;
  margin-top: -50px;
  height: 600px;
  width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.description_right {
  /*border: 2px solid black;*/
}

.user_chart_body {
  height: 600px;
  width: 300px;
}

.welcome {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 25px;
}

.name {
  text-align: center;
}

.Remove {
  margin-right: 10px;
}

.slider {
  margin-bottom: 15px;
  margin-top: 15px;
}

.artist {
  margin-bottom: 10px;
}

.addArtist {
}

.save {
  margin-top: 10px;
}

.user_name {
  width: 50px;
}

.friends {
  position: relative;
  text-align: center;
  margin-left: 1100px;
  margin-top: -600px;
}

#groovesharkPlayer {
  position:absolute;
  left:-999px;
  top:-999px;
}

.inline {
  display: inline-block;
}

.center {
  margin-left:auto;
  margin-right:auto;
}

.text-center {
  text-align: center;
}

.half {
  width: 50%;
}

#text {
  width: 350px;
}

.friend_title {
  margin-bottom: 20px;
}
